@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.game{
    height: 100vh;
    width: 100%;
    background-color: #8CC461;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-container{
    display: block;
}
.score-board{
    width: 1000px;
    border: 2px solid #fff;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}
.game-name{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 10%;
    padding: 15px;
}
.score-cards{
    display: flex;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.computer-card, .user-card{
    width: 120px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 0 15px;
}

.computer-card p:nth-child(1), .user-card p:nth-child(1){
    font-size: 17px;
    color: #656565;
}
.computer-card p:nth-child(2), .user-card p:nth-child(2){
    font-size: 60px;
    font-weight: 700;
}
.main{
    margin: 120px 0;
    height: 40%;
}
.options-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}
.two-options{
    display: flex;
    align-items: center;
}
.two-options .stone-wrapper:nth-child(1) {
    margin-right: 100px;
}
.paper{
    margin-top: 50px;
}
.stone-wrapper, .scissor-wrapper, .paper-wrapper{
    position: relative;
}

.stone,.paper,.scissor{
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.stone{
    border: 15px solid #0074B6;
}
.scissor{
    border: 15px solid #BD00FF;
}
.paper{
    border: 15px solid #FFA943;
}
.stone-line{
    width: 340px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: 55px;
    opacity: 64%;
}
.paper-line{
    width: 200px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: 0px;
    transform: rotate(60deg);
    left: -110px;
    opacity: 64%;
}
.scissor-line{
    width: 200px;
    height: 10px;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    transform: rotate(120deg);
    left: -80px;
    opacity: 64%;
}
.rules-bar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    position: relative;
}
.rules-bar button{
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 5px 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 15px;
    cursor: pointer;
}

.rules{
    background-color: #004429;
    border: 7px solid #fff;
    border-radius: 13px;
    width: 300px;
    position: absolute;
    bottom: 60px;
    right: 60px;
    padding: 20px 20px 10px 40px;
    display: none;
}

.rules > button{
    position: absolute;
    border-radius: 50%;
    padding: 10px 13px;
    border: 5px solid #fff;
    font-size: 30px;
    z-index: 2;
    background-color: #FF0000;
    top: -30px;
    right: -40px;
}
.rules > p{
    font-size: 29px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.rules > ul {
    margin: 10px 0;
    color: #fff;
    list-style-type: square;
}
.rules>ul li{
    margin: 10px 0;
}
.rules>ul li::marker{
    color: #FFD600;
    font-size: 13px;
}


.results-display{
    display: none;
    justify-content: space-between;
    /* margin: 0 0 150px; */
}
.result{
    width: 500px;
    padding: 50px 20px;
    text-align: center;
    margin-top: 50px;
}

.user-choice,.pc-choice{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-choice > div, .pc-user > div{
    border-radius: 50%;
    z-index: 1;
}

.animate-win {
    animation: ripple 1s linear infinite;
}
.user-choice > p, .pc-choice > p{
    color: #fff;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 17px;
    z-index: 4;
}
.result p:nth-child(1){
    font-weight: 800;
    font-size: 39px;
    line-height: 45px;
    text-align: center;
    color:#fff;
}
.result p:nth-child(2){
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.result > button {
    background-color: #fff;
    color: #6B6B6B;
    border-radius: 9px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: none;
    width: 174px;
    height: 44px;
    letter-spacing: 10%;
    margin-top: 20px;
    cursor: pointer;
}

.trophy-page {
    height: 80%;
    width: 1000px;
    margin: 40px auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trophy {
    position: relative;
}

.star1, .star2, .star3, .star4, .star5, .star6, .star7, .star8, .star9 {
    position: absolute;
    z-index: 1;
    animation: star-animation 2s infinite ease-in-out;
    opacity: 0;
}

.star1 { top: 10%; left: -130px; animation-delay: 0s; }
.star2 { top: -50%; right: -40px; animation-delay: 0.2s; }
.star3 { top: -50%; left: -50px; animation-delay: 0.4s; }
.star4 { top: -30%; left: 50px; animation-delay: 0.6s; }
.star5 { bottom: 0; left: -50px; animation-delay: 0.8s; }
.star6 { bottom: 10px; animation-delay: 1s; }
.star7 { top: 10px; right: -70px; animation-delay: 1.2s; }
.star8 { top: -30%; left: 50px; animation-delay: 1.4s; }
.star9 { top: -50px; left: -50px; animation-delay: 1.6s; }

@keyframes star-animation {
    0% {
        transform: scale(0.5) rotate(0deg);
        opacity: 0;
    }
    50% {
        transform: scale(1.2) rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(360deg);
        opacity: 0;
    }
}
.trophy-page p:nth-child(2){
    font-weight: 600;
    font-size: 91px;
    line-height: 106px;
    color: #fff;
    margin:30px 0 10px;
}
.trophy-page p:nth-child(3){
    font-weight: 600;
    font-size: 41px;
    line-height: 48px;
    color: #fff;
}
.trophy-page > button{
    background-color: #fff;
    color: #6B6B6B;
    border: none;
    border-radius: 10px;
    width: 174px;
    height: 44px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    margin-top: 10px;
}

@keyframes ripple{
    0%{
        box-shadow: 
        0 0 0 0 rgba(46, 154, 37, 0.388), 
        0 0 0 1em rgba(46, 154, 37, 0.388),
        0 0 0 3em rgba(46, 154, 37, 0.388),
        0 0 0 5em rgba(46, 154, 37, 0.388)
    }
    100%{
        box-shadow: 
        0 0 0 1em rgba(46, 154, 37, 0.388), 
        0 0 0 3em rgba(46, 154, 37, 0.388),
        0 0 0 5em rgba(46, 154, 37, 0.388),
        0 0 0 7em rgba(46, 154, 37, 0.388)
    }
    
}
